@import '../node_modules/bootstrap/scss/bootstrap.scss'; 

//variablen
$navbar-color: rgba(255, 250, 240, 0.950);
$theme-bg: #FFD84B;
$theme-header: #A3262A;
$navlinkafstand: 10px;
$navbardikheid: 56px;



// navigatiebalk
.navbar {
    background-color: $navbar-color;
    position: fixed;
    //z-index hoger dan de achtergrond zodat de navbar er boven gaat.
    z-index: 1;
    width: 100%;
}

.navbarcontainer {

}

//werkt wanneer scherm kleiner dan breakpoint lg (992px)
@include media-breakpoint-down(lg) {
    .navbarcontainer {
        width: 95vw;
    }
}

//werkt wanneer scherm gelijk of groter dan breakpoint lg (992px)
@include media-breakpoint-up(lg) {
    .navbarcontainer {
        width: 80vw;
        max-width: 1750px;
    
    }
}


li.navitem {
    margin-left: $navlinkafstand;
    margin-right: $navlinkafstand;
}

body {
 //   background-color: $theme-bg;

}
.banner {
    position: relative;
    top: 0;
    background-image: url("/img/draak.png");
    background-color: (#a3262a5d);
    background-blend-mode: multiply;
    background-size: cover;
    height: 80vh;
    width: 100%;


}

div.bannerheader {
    position: relative;
    top: 50%;
    color: $theme-header;
    text-align: center;

}

.bannerheader {
    font-size: 50px;
    color: $theme-header;
}

.bannertext {
    
}

.jumbotron {
    background-color: $theme-bg ;
}

.gamediv{

    .game{
        width:960px;
        height:600px;
        border:0;
        margin-top: 17vh;
        margin-left: 51vh;
    }
}

.fullscreenbutton{
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
    background-color: darkgrey;
    margin-left: 154vh;
    margin-top: -1vh;
    border-radius: 50px;
}